<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>صفحه فرود Inmotion :: دریافت شده از وب روبیک</title>
	<!-- Start Stylesheets -->
	<link rel="stylesheet" href="{% static 'btestcss/css.css' %}" />
</head>

<body dir="rtl">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<form class="example" action="action_page.php">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
</body>

</html>