<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>صفحه فرود Inmotion :: دریافت شده از وب روبیک</title>
	<!-- Start Stylesheets -->
	<link rel="stylesheet" href="{% static 'btestcss/linearicons.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/nice-select.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/bootstrap4-rtl.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'btestcss/style.css' %}"/>
	<script src="{% static 'btestjs/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'btestjs/popper.min.js' %}"></script>
	<script src="{% static 'btestjs/bootstrap.min.js' %}"></script>
	<script src="{% static 'btestjs/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'btestjs/owl.carousel.min.js' %}"></script>
	<script src="{% static 'btestjs/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'btestjs/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'btestjs/scripts.js' %}"></script>
	<!-- End Stylesheets -->
</head>
<body dir="rtl">
	
	<div class="main-wrapper-first">
		<!-- Start Header Menu -->
		<header>
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="main-menubar d-flex align-items-center">
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							<nav class="hide">
								<a href="index.html">صفحه نخست</a>
								<a href="elements.html">مجموعه عناصر</a>
							</nav>
						</div>
						<div class="logo">
							<a href="index.html"><img src= {% static 'btestpics/logo.png' %} alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Menu -->
	</div>
	<div class="main-wrapper">
		<!-- Start Feature Area -->
		<section class="featured-area">
			<div class="container">
				<div class="row">
					<!-- Start Feature Box -->
					<div class="col-md-4">
						<div class="single-feature text-center">
							<span class="lnr lnr-screen"></span>
							<h3>کاملا واکنش گرا</h3>
							<p>در هر دستگاهی بهترین نمایش را داشته باشید. فرقی نمی کند در حال استفاده از موبایل، تبلت یا کامپیوتر هستید.</p>
							<a href="#" class="text-uppercase">بیشتر بدانید</a>
						</div>
					</div>
					<!-- End Feature Box -->
					<div class="col-md-4">
						<div class="single-feature text-center">
							<span class="lnr lnr-code"></span>
							<h3>کدنویسی تمیز</h3>
							<p>کدنویسی کاملا اصولی و استاندارد و کامنت گذاری تمامی بخش های مورد نیاز این قالب را با سایرین متمایز کرده است.</p>
							<a href="#" class="text-uppercase">بیشتر بدانید</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-feature text-center">
							<span class="lnr lnr-clock"></span>
							<h3>بکارگیری در کمترین زمان</h3>
							<p>این قالب کاملا آماده و استاندارد را به سادگی و در کمتر از چند دقیقه در پروژه های خود بکار بگیرید.</p>
							<a href="#" class="text-uppercase">بیشتر بدانید</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Feature Area -->
		<!-- Start Testimonial Area -->
		</body><!-- This template has been downloaded from Webrubik.com -->
</html>
